# Ignorar subdiretórios que tinham repositórios git
/ChallengeForumHub/
/Compras/
/ControleFinanceiro/
/ConversorDeMoedas/
/CotacaoCrypto/
/ExercicioOOP/
/MinhasMusicas/
/OperacoesBancarias/
/ReceitasDespesas/
